.frame{
    display:flex;
}
.block-1{
    margin-right: 0%;
    width:50% ;
    border-right: #516700 1px solid ;
    padding-right: 8px;
    margin-left: 1%;
}
.block-2{
    margin-left: 0%;
    width:50%;
    border-left: #516700 1px solid ;
    padding-left: 8px;
    margin-right:1% ;
}
.body{
    background-image:linear-gradient(to right bottom, #95CACA, #DEDEBE);

}


.wehelp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image:linear-gradient(to top right, #506700, #443812 );
    color:white;
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.text-1{
    letter-spacing:1px;
    padding: 2px;
    font-size: 20px;
    color: 	rgb(228, 228, 228);
    width:auto ;
    background-image:linear-gradient(to right, 	#408080, 	#A5A552 )

}
.text-2{
    margin-bottom: 20px;
}