html,
body{
    padding: 0;
    margin: 0;
}
.frame{
    display:flex;
    align-items: center;
    height: 50px;
}
.left{
    font-size: 20px;
    flex:auto;
}
.mobile{
    display: none;
    
}
.desktop{
    display: block;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    flex:auto;

}
.item{
    margin-right: 10px;
    text-align: center;
}
.welcome{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 193, 211);
    height: 300px;
    margin-bottom: 10px; 
}
.text{
    font-size: 40px;
    width:600px;height: 50px;
    text-align: center;
}
.outer{
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titlephoto{
    object-position: 0px -40px;
}

.container{ 
    width: 1200px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 225px 225x;
    background-color: #fff;
    grid-template-areas: "p1 p1 p2 p2"
                        "t1 t2 t3 t4"
                        "t5 t6 t7 t8";
    margin-bottom: 10px;
}
.box{
    background-color:rgb(58, 193, 211) ;
    font-size: 20px;
    position: relative;
}
.a{
  grid-area: p1;
  display: flex;
}
.photo{
    width: 80px;
}
.title{
    display: flex;
    width: 100%;
    height: 54px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: rgb(58, 193, 211) ;
    justify-content: center;

}
.titletext{
    align-self: center;
    justify-self: center;
    text-align: center;
}
.promotion{
    align-self: center;
}

.b{
    grid-area: p2;
    display: flex;
}

.buttondiv{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}
.button{   
    text-align: center;
    padding: 5px 5px;
}
.newcontainer{ 
    width: 1200px;
    display: grid;
    grid-gap: 10px;
    margin-bottom:10px ;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:   225px 225px ;
    background-color: #fff;
    grid-template-areas: "t1 t2 t3 t4"
                        "t5 t6 t7 t8";
}
#display{
    display: none;
}
@media (max-width:1200px){
    .container{
        width: 90%; 
        grid-template-columns:49% 49%;
        grid-template-rows: 50px 35vw 35vw 35vw 35vw;
        grid-template-areas: "p1 p2"
                            "t1 t2"
                            "t3 t4"
                            "t5 t6"
                            "t7 t8";
    }   
    .newcontainer{ 
        width: 90%;
        grid-template-columns:49% 49%;
        grid-template-rows:  35vw 35vw 35vw 35vw;
        grid-template-areas: "t1 t2"
                            "t3 t4"
                            "t5 t6"
                            "t7 t8"
}}
@Media (max-width:600px){
    .mobile{
        display: block;
        width: 20px;
        height: 20px;
        justify-items: flex-end;
    }
    .desktop{
        display: none;
    }
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px 70vw 70vw 70vw 70vw 70vw 70vw 70vw 70vw;
        grid-template-areas:"p1"
                            "p2"
                            "t1"
                            "t2"
                            "t3"
                            "t4"
                            "t5"
                            "t6"
                            "t7"
                            "t8";
    }  
    .newcontainer{ 
        grid-template-columns:100%;
        grid-template-rows: 70vw 70vw 70vw 70vw 70vw 70vw 70vw 70vw;
        grid-template-areas: "t1"
                            "t2"
                            "t3"
                            "t4"
                            "t5"
                            "t6"
                            "t7"
                            "t8";
    }
}